<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vaccum">


    <xacro:include filename="$(find vaccum_description)/urdf/vaccum_description.urdf.xacro"/>
    <xacro:include filename="$(find vaccum_description)/urdf/vaccum.ros2_control.xacro"/>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find vaccum_control)/config/controllers.yaml</parameters>
            <!-- <controller_manager_name>controller_manager</controller_manager_name> -->
        </plugin>
    </gazebo>

    <xacro:vaccum parent="world" prefix="" >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:vaccum>
    <xacro:vaccum_ros2_control name="vaccum" prefix="" />


</robot> 